<header>
    <nav class="navbar navbar-expand-lg bg-primary mb-3">
        <div class="container-fluid">
            <NavLink class="navbar-brand text-white" href="">
                <img src="assets/images/galaxy-training-logo.png" class="me-3"/>APPGALAXY
            </NavLink>
            <div class="d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav d-flex">
                    <li class="nav-item">
                        <NavLink class="nav-link text-white">Iniciar Sesion</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link text-white">Registrarse</NavLink>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>