@inherits LayoutComponentBase
<GalaxyHeader />
<BlazoredToasts />
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-auto">
            <img src="assets/images/fondologin.png" alt="Logo"/>
        </div>
        <div class="col-auto">
            @Body
            <hr/>
        </div>
    </div>
</div>