#imagen-de-fondo {
    background-image: url('/assets/images/fondo_esp_cert.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 60vh;
}

#menu {
    background-color: #f0f0f0;
    padding: 20px;
    height: 100vh;
}