@page "/index"
@page "/"

<PageTitle>Portal Galaxy</PageTitle>

<div id="imagen-de-fondo">
   
</div>

<div class="row gx-3 mt-2 w-100 justify-content-end">
    <div class="col">
        <div class="card">
            <div class="card card-body align-items-center">
                <img src="assets/images/mas-entrenamiento.png" alt="Mas entrenamiento" decoding="async" loading="lazy" height="90" width="90" />
                <h4>MÁS ENTRENAMIENTO</h4>
                <p>Clases 100% prácticas</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card card-body align-items-center">
                <img src="assets/images/mas-experiencia.png" alt="Mas experiencia" decoding="async" loading="lazy" height="90" width="90" />
                <h4>MÁS EXPERIENCIA</h4>
                <p>Solo con instructores capacitados</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card card-body align-items-center">
                <img src="assets/images/alto-rendimiento.png" alt="Alto Rendimiento" decoding="async" loading="lazy" height="90" width="90" />
                <h4>ALTO RENDIMIENTO</h4>
                <p>Logra competitividad laboral</p>
            </div>
        </div>
    </div>
</div>
